:root.void {

    --colourone: #2b3761;
    --colourtwo: #7048b5;
    --colourthree: #1031b3;
    --colourfour: #6d52ab;
    --colourfive: #553091;
    --coloursix: #2e3c7350;
    
    --main-color: var(--colourone);
    --main-secondary-color: var(--colourtwo);
    --background-color: var(--colourfive);
    --background-dark-color: var(--colourfive);
    --background-light-color: var(--colourfive);
    --placeholder-color: var(--colourthree);
    --item-selected-color: var(--colourfour);
    --eta-best: #3d1fd1;
    --eta-mid: #9e37b8;
    --eta-worst: #d90d80;
    --text-color: #927ebf;
    --text-light-highlight-color: var(--colourtwo);
    --text-dark-highlight-color: var(--colourtwo);
    --button-color: var(--colourone);
    --button-hover-color: var(--colourthree);
    --button-hover-background-color: var(--coloursix);
    --you-color: var(--colourfive);
    --you-background-color: var(--colourfour);
    --promoted-color: var(--colourthree);
    --promoted-background-color: var(--coloursix);
    --header-color: var(--colourone);
    --navbar-color: var(--colourfive);
    --offcanvas-background-color: var(--colourfive);
    --link-hover-color: var(--colourthree);
    --link-color: var(--colourthree);
}
:root.void body {
  font-family: "Brush Script MT", cursive;
}

:root.void .ladder-row[data-v-b13887f0] {
    height: 100%;
    max-height: 100%;
}
:root.void .col-6.tempInfo[data-v-260edd08] {
    margin-top: -15%;
    margin-left: 35%;
    margin-bottom: -15%;
}
:root.void .col-6 {
    width: 110%;
}
